public/index.html
<!DOCTYPE html><html><head><meta charset="UTF-8" /><meta content="width=device-width, initial-scale=1" name="viewport" /><meta content="#f00" name="theme-color" /><link href="/i/layout/favicon.png" rel="icon" sizes="192x192" /><title>Geneva</title><base href="/" /><link href="css/style.css" rel="stylesheet" /><style type="text/css">body.is-loading .lyt-screen-aside,
body.is-loading .lyt-screen-content{ display: none; opacity: 0; }</style><script>window.onload = function(){
    document.body.classList.remove('is-loading');
};</script></head><body class="is-loading"><div class="lyt-screen js-app"><div class="preloader js-preloader"><span class="js-preloader-progress"></span></div><div class="lyt-screen-aside js-aside"><div class="aside"><img class="js-aside-bg" src="i/2.jpg" /><div class="do-plus"><div class="do-plus-sprite is-main js-plus"></div><div class="do-plus-bg js-pluses"><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div><div class="do-plus-sprite"></div></div></div><img class="js-aside-bg" src="i/3.jpg" /></div></div><div class="lyt-screen-content js-screen-content"><div class="slider js-slider"><div class="do-equal js-equal"><div class="do-equal-line is-top"></div><div class="do-equal-line is-bottom"></div></div><div class="slider-content js-slider-content"><img class="slider-content-img js-img-ref" src="i/1.jpg" /><div class="btn js-btn"><span class="btn-text js-btn-text">Surprise me</span></div><div class="btn-image js-btn-image"></div></div></div></div><div class="lyt-screen-btn_mob js-screen-btn-mob"><div class="btn_mob js-btn-mob"><span class="btn-text js-btn-text">Surprise me</span></div><div class="btn-image_mob js-btn-image-mob"></div></div></div><script src="js/app.min.js"></script></body></html>

src/slim/index.slim
doctype html
html
  head
    meta[charset="UTF-8"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    meta[name="theme-color" content="#f00"]
    link[rel="icon" sizes="192x192" href="/i/layout/favicon.png"]
    title Geneva
    base[href="/"]
    link[rel="stylesheet" href="css/style.css"]
    css:
        body.is-loading .lyt-screen-aside,
        body.is-loading .lyt-screen-content{ display: none; opacity: 0; }

    javascript:
        window.onload = function(){
            document.body.classList.remove('is-loading');
        };

  body.is-loading
    .lyt-screen.js-app
        .preloader.js-preloader
            span.js-preloader-progress
        .lyt-screen-aside.js-aside
            .aside
                img.js-aside-bg[src="i/2.jpg"]

                .do-plus
                    .do-plus-sprite.is-main.js-plus
                    .do-plus-bg.js-pluses
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite

                img.js-aside-bg[src="i/3.jpg"]

        .lyt-screen-content.js-screen-content
            .slider.js-slider
                .do-equal.js-equal
                    .do-equal-line.is-top
                    .do-equal-line.is-bottom
                .slider-content.js-slider-content
                    img.slider-content-img.js-img-ref[src="i/1.jpg"]
                    .btn.js-btn
                        span.btn-text.js-btn-text Surprise me
                    .btn-image.js-btn-image
        .lyt-screen-btn_mob.js-screen-btn-mob
            .btn_mob.js-btn-mob
                span.btn-text.js-btn-text Surprise me
            .btn-image_mob.js-btn-image-mob
    script[src="js/app.min.js"]
